<h1>Cadastro</h1>

<div>
    <div>
        <label for="titulo">Titulo</label>
        <input id="titulo" type="text" name="titulo" placeholder="titulo" [(ngModel)]="titulo"/>
    </div>
    <div>
        <label for="titulo">Isbn</label>
        <input id="isbn" type="text" name="isbn" placeholder="isbn" [(ngModel)]="isbn"/>
    </div>
    <div>
        <label for="titulo">Categoria</label>
        <input id="categoria" type="text" name="categoria" placeholder="categoria" [(ngModel)]="categoria"/>
    </div>
    <div>
        <label for="titulo">Autor</label>
        <input id="autor" type="text" name="autor" placeholder="autor"[(ngModel)]="autor" />
    </div>

    <div>
        <button type="submit" (click)="create()">Criar Livro</button>
    </div>
</div>

